
version 16.9
!
hostname R2
!
! Enables routing for IPv6
ipv6 unicast-routing
!
!
interface GigabitEthernet0/0/0
 ip address 192.168.1.3 255.255.255.0
 negotiation auto
 ipv6 address 2001:DB8:ACAD:B::3/64
 ! Runs OSPF protocol for IPv6 on the interface for area 1
 ipv6 ospf 1 area 1
!
interface GigabitEthernet0/0/1
 ip address 192.168.0.1 255.255.255.0
 negotiation auto
 ipv6 address 2001:DB8:ACAD:A::1/64
 ! Runs OSPF protocol for IPv6 on the interface for area 0
 ipv6 ospf 1 area 0
!
! IPv4 OSPF configuration
router ospf 1
 router-id 2.2.2.2
 network 192.168.0.0 0.0.0.255 area 0
 network 192.168.1.0 0.0.0.255 area 1
!
! IPv6 OSPF configuration; IPv6 is activated on each interface
ipv6 router ospf 1
 router-id 2.2.2.2
!
!
line con 0
 password goodpassword
!
end
