
version 16.9
!
hostname R5
!
! Enables routing for IPv6
ipv6 unicast-routing
!
!
interface GigabitEthernet0/0/0
 ip address 192.168.2.2 255.255.255.0
 negotiation auto
 ipv6 address 2001:DB8:ACAD:C::2/64
 ! Runs OSPF protocol for IPv6 on the interface for area 2
 ipv6 ospf 1 area 2
!
interface GigabitEthernet0/0/1
 ip address 192.168.30.1 255.255.255.0
 negotiation auto
 ipv6 address 2001:DB8:ACAD:F::1/64
 ! Runs OSPF protocol for IPv6 on the interface for area 2
 ipv6 ospf 1 area 2
!
! IPv4 OSPF configuration
router ospf 1
 router-id 5.5.5.5
 network 192.168.2.0 0.0.0.255 area 2
 network 192.168.30.0 0.0.0.255 area 2
!
! IPv6 OSPF configuration; IPv6 is activated on each interface
ipv6 router ospf 1
 router-id 5.5.5.5
!
!
line con 0
    password goodpassword
!
end
