
version 12.2
!
hostname S1
!
! Enables routing for IPv4
ip routing
! Enables routing for IPv6
ipv6 unicast-routing
!
!
interface FastEthernet0/1
 no switchport
 ip address 192.168.3.2 255.255.255.0
 ipv6 address 2001:DB8:ACAD:D::2/64
 ! Runs OSPF protocol for IPv6 on the interface for area 0
 ipv6 ospf 1 area 0
!
interface FastEthernet0/2
 no switchport
 ip address 192.168.2.3 255.255.255.0
 ipv6 address 2001:DB8:ACAD:C::3/64
 ! Runs OSPF protocol for IPv6 on the interface for area 2
 ipv6 ospf 1 area 2
!
! IPv4 OSPF configuration
router ospf 1
 log-adjacency-changes
 network 192.168.2.0 0.0.0.255 area 2
 network 192.168.3.0 0.0.0.255 area 0
!
! IPv6 OSPF configuration; IPv6 is activated on each interface
ipv6 router ospf 1
 log-adjacency-changes
!
!
line con 0
 password goodpassword
!
end
